<div class="row mt-4">
    <div class="col-md-6">
        <div class="row" style="height: 450px;">
            <div class="col-md-12 my-auto side-header">
                <h1>Host Registration</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form [formGroup]="services.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group required">
                <label>DNI</label>
                <input class="form-control" formControlDni="DNI">
            </div>
            <div class="form-group required">
                <label>FirstName</label>
                <input class="form-control" formControlDni="FirstName">
            </div>
            <div class="form-group required">
                <label>LastName</label>
                <input class="form-control" formControlDni="LastName">
            </div>
            <div class="form-group required">
                <label>Password</label>
                <input class="form-control" formControlDni="Password">
            </div>
            <div class="form-group required">
                <label>ConfirmPassword</label>
                <input class="form-control" formControlDni="ConfirmPassword">
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block">
                        Sign up
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>